*{
    margin: 0;
    font-family: Arial;
    border:border-box;
}
.navbar{
    height:60px;
    width:100%;
    background-color:#0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
               /**First box**/
.nav-logo{
    height:50px;
    width: 100px;
}
.logo{
    background-image: url("amazon_logo.png");
    height:50px;
    background-size: cover;
}
.border{
    border:2px solid transparent;
}
.border:hover{
    border: 2px solid white;
}
            /**second box**/

.addicon{
    display:flex;
    align-items: center;
}
.add-first{
  color: #cccccc;
  font-size: 0.85rem;
  margin-left:15px
}
.add-sec{
   margin-left: 3px;
   font-size: 1rem;
}
           /**Third box**/
.search{
    display: flex;
    width: 620px;
    height:40px;
    justify-content: space-evenly;
    margin-left:5px;
    border:2px solid transparent;
}
.search-select{
    width:50px;
    height:40px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border:none;
}
.search-input{
  width:100%;
  font-size: 1rem;;
}
.search-icon{
    width:45px;
    display: flex;
    justify-content: center;
    align-items: center;
     border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #febd68;
    color: #0f1111;
}
.search:hover{
    border:2px solid #febd68;
}
         /**Fourth box**/
.flag{
    display:flex;
    width:45px;
}
.En{
    color:#cccccc;
    font-size: 1rem;
    background-color: #0f1111;
    border-color:2px solid #0f1111;
    border:none;
}
         /**Fifth box**/
span{
  font-size: 0.8rem;;
}
.account-sel{
    color:#cccccc;
    font-size: 0.85rem;
    font-weight:700;
    background-color: #0f1111;
    border-color:2px solid #0f1111;
    border:none;
}
p{
    font-weight: 700;
}
.cart i{
    font-size: 20px;
}
.cart{
    font-size: 14px;
    font-weight:600;
}
/** Anchor **/
.anchor{
    background-color: #222f3d;
    width: 100%;
    height: 39px;
    color: white;
    display: flex;      
    align-items: center;
    justify-content: space-evenly;
}
.anchor-icon{
    width:23px;
    display:flex;
}
.panel-ops p{
    display: inline;
    margin: 5px;
}
.panel-ops{
    width:70%;
    font-size:0.85rem;
}
.panel-deal{
    font-size:0.9rem;
    font-weight:700;
}
                 /** hero section **/
.hero{
    background-image: url("hero_image.jpg");
    height: 400px;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: flex-end;
}
                  /**hero message**/
.hero-msg{
    background-color: white;
    color:black;
    height:40px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width:94%;
    margin-bottom: 20px;
}
.hero-msg a{
    color:rgb(105, 105, 209);
   }
             /** shop sec  **/

.shop-sec{
    display:flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    flex-wrap: wrap;
}
.box{
    height:350px;
    width:23%;
    background-color:white;
    padding: 18px 0px 15px; 
    margin-top: 15px;
   
}
.box-img{
    height:290px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 0.8rem;
   }
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content p{
    color: #007185;
    font-size: 0.8rem;
}
       /**back**/
footer{
    margin-top: 10px;
}
.back{
    height: 45px;
    width:100%;
    background-color: #37475a;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    font-size:0.9rem;
}
.f-panel2{
    height: 350px;
    background-color: #222f3d;
    color: white;
    display: flex;
    justify-content: space-evenly;
    
}
ul{
    margin-top: 25px;
}
.f-panel2 ul a{
    display:block;
    color: #DDDDDD;
    font-size: 0.87rem;
    margin-top: 10px;
}
.panel3{
    height:70px;
   background-color: #222f3d;
   display: flex;
   align-items: center;
   justify-content:center;
   border-top: 0.5px solid white;
   font-size: 0.7rem;
}
.f-select{
    width:120px;
    height:30px
}
.f-img{
    margin-right: 50px;
}
.panel4{
    height: 50px;
    background-color: #0f1111;
    color:white;
    font-size: 0.85rem;
    padding-top:25px;
}
.page{
     text-align:center;
}
.page a{
    margin-right: 10px;
}
.copyright{
    text-align: center;
    padding-top:5px;
}
.panel5{
    height:680px;
    background-color:#30373d;
    color:white;
    font-size:0.8rem;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.f-box{
    width:13%;
    height: 30px;
}
.f-box ul h3{
    color: white;
    font-size: 0.8rem;
}
.f-box ul a{
    color: #DDDDDD;
}